<div id="long_history">
    <div class="columns">
        <div class="item">
            <div class="img">
                <img src="../../../../assets/icons/svg/objetivo1.svg" alt="">
            </div>
            <div class="text">
                <span class="title" translate>Sector Privado</span>
                <span class="description">Mexicano</span>
            </div>
        </div>

        <div class="item">
            <div class="img">
                <img src="./../../../assets/icons/svg/objetivo2.svg" alt="">
            </div>
            <div class="text">
                <span class="title" translate>Comercio</span>
                <span class="description">Internacional</span>
            </div>
        </div>

        <div class="item">
            <div class="img">
                <img src="./../../../assets/icons/svg/objetivo3.svg" alt="">
            </div>
            <div class="text">
                <span class="title" translate>Transferencia</span>
                <span class="description">de Tecnología</span>
            </div>
        </div>

        <div class="item">
            <div class="img">
                <img src="./../../../assets/icons/svg/objetivo4.svg" alt="">
            </div>
            <div class="text">
                <span class="title" translate>Inversión</span>
                <span class="description">Extranjera</span>
            </div>
        </div>
    </div>
</div>