<div id="long_history">
    <div class="columns">
        <div class="item">
            <div class="img">
                <img src="../../../assets/icons/header/start_commer.svg" alt="">
            </div>
            <div class="text">
                <span class="title" translate>
                    +20
                </span>
                <span class="description" translate="inBusiness"></span>
            </div>
        </div>

        <div class="item">
            <div class="img">
                <img src="../../../assets/icons/header/points.svg" alt="">
            </div>
            <div class="text">
                <span class="title" translate>+100</span>
                <span class="description" translate="salesPoints"></span>
            </div>
        </div>

        <div class="item">
            <div class="img">
                <img src="../../../assets/icons/header/collabs.svg" alt="">
            </div>
            <div class="text">
                <span class="title" translate>+300</span>
                <span class="description" translate="Employees"></span>
            </div>
        </div>
    </div>
</div>