@import '../../../../styles/colors.scss';
@import '../../../../styles/variables.scss';


// Longitud/historia
#long_history {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .columns {

        .item {
            padding: 10px 20px;
            column-gap: 15px !important;
            width: 250px;

            // Imagen
            .img {
                // Dimensiones
                background-color: $primaryColor;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                // Tamaño
                width: 70px;
                height: 70px;

                img {
                    width: 60%;
                    height: auto;
                }


            }



            // texto
            .text {
                display: grid;
                width: 160px;

                .title {
                    font-size: 16pt;
                    font-weight: 500;
                    line-height: 40px;

                }

                .description {
                    font-size: 16pt;
                    font-weight: 600;
                }
            }
        }
    }

    @media screen and (max-width: 1200px) {

        .columns {
            flex-wrap: wrap;
            column-gap: 0 !important;

            .item {
                flex: 1 1 45%;
                column-gap: 15px !important;
                margin-bottom: 20px;
            }
        }

        .columns .item:nth-child(2)::after {
            content: none;
        }
    }

    @media screen and (max-width: 802px) {
        .columns .item::after {
            content: none;
        }
    }

}