<!-- 2 Columnas -->
<div id="ourAbout">
    <div class="container-About">
        <!-- texto -->
        <div class="ourAbout">
            <!-- <img src="/assets/about-us/background_aboutUs.png" class="d-lg-none"> -->
            <div class="leyenda">
                <h2 class="aboutLine text-capitalize">nosotros</h2>
                <h3 class="title">
                    ¿Qué es COMCE Tabasco?
                    <div class="line"></div>
                </h3>
                <p class="description">
                    El Consejo Mexicano de Comercio Exterior de Tabasco (COMCE Tabasco) es una organización de la
                    iniciativa privada,
                    recientemente establecida en Tabasco, cuyo propósito es fortalecer la participación de las empresas
                    locales en el
                    comercio exterior y mercados internacionales.
                </p>
                <p class="description">
                    Su misión es promover y facilitar la exportación e importación, brindando el apoyo necesario para
                    que las empresas
                    puedan expandir sus horizontes internacionales.
                </p>

                <!-- <div class="btn-outline-white" routerLink="/About">
                    <span translate="readMore"></span>
                    <img src="../../../../../assets/icons_svg/line-right.svg" alt="">
                </div> -->
            </div>
        </div>

        <!-- Image of About -->
        <div class="About d-none d-lg-inline-block">
            <img src="/assets/about-us/background_aboutUs.png" alt="">
        </div>
    </div>
</div>