// * Colors
// *----------------------------------------------------------------* //
$primaryColor: #040054;
$secondaryColor: #1D0D7B;
$terceryColor: #FFF9F2;
$superiorColor: white;

$transparentButton: rgba(white, 0.05);

$backgroundIndigo: #1D0D7B;
$backgroundDarkBlue: #040054;