<div id="homePage" class="gap-4 d-flex flex-column">
    <header>
        <app-header></app-header>

        <!-- Banner -->
        <div class="bannerMain">
            <img src="../../assets/banners/bannerHome.png" alt="">
        </div>
    </header>

    <!-- Body -->
    <app-experience></app-experience>

    <section id="AbourUs">
        <app-about-us></app-about-us>
    </section>


    <footer>
        <section id="ContactUs">
            <app-footer></app-footer>
        </section>
    </footer>
</div>